<style>
  .main-wrapper {
    height: 100vh;
  }
  .section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>
<div class="main-wrapper">
  <div class="section">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h1 class="text-center">Login Page</h1>
              <div class="row">
                <form action="/login" method="post">
                  <div class="mb-3">
                    <label for="formEmail" class="form-label"
                      >Email address</label
                    >
                    <input
                      type="email"
                      class="form-control"
                      id="formEmail"
                      name="email"
                      placeholder="name@example.com"
                      required
                    />
                  </div>
                  <div class="mb-3">
                    <label for="formPassword" class="form-label"
                      >Email address</label
                    >
                    <input
                      type="password"
                      class="form-control"
                      id="formPassword"
                      placeholder="password"
                    />
                  </div>
                  <button type="submit" class="btn btn-primary">Login</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="js/login.js"></script>
